html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.block-1
{
    background-color: #1F2937;
}

.header-flex
{
    display: flex;
    justify-content: center;
}

.header-flex div
{
    flex: 1, 1, auto;
    width: 150px;
    text-align: right;
    margin-top: 25px;
}

.header-flex div a
{
    color:white;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 100px;
}

.header-flex .header-logo{
    text-align: left;
    font-family: "Roboto";
    color: white;
    font-size: 24px;
    font-weight: bold;
    flex: 2, 1, auto;
    width: 600px;
    margin-top: 0px;
}